<%= link_to(" Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>

  <%= form_for(:section, :url => {:action => 'create'}) do |t| %>

    <%= render(:partial => "form", :locals => {:t=> t }) %>

    <div class="form-buttons">
      <%= submit_tag("Create Section") %>
    </div>

  <% end %>
</div>